.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-primary {
  color: #fff !important;
  background-color: #00204e !important;
  border-color: #051938 !important;
  border-radius: 10px;
  margin: auto !important;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  color: revert;
  font-family: cursive;
}

.btn-primary {
  box-shadow: 2px 1px 5px 0px;
  color: #00e7ffd6 !important;
  border: none !important;
  background-color: #424242 !important;
  border-radius: 10px !important;
  font-family: serif !important;
}

.btn-primary:hover {
  box-shadow: 2px 1px 10px 0px !important;
  color: #00e5ff !important;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}




.btn-outline-success {
  color: #3bb3b3;
  border-color: #3f97bb;
}


.moviesdetails{
  width: 50px; 
  height: 50px;
}

element.style {
  background-color: black;
  color: gray;
  font-family: none;
}